
extends ../layout.pug

block content 
  - action= post ? "/post/edit/"+post.id : "/post/create"
  - title= post ? post.title : ''
  - body= post ? post.body : ''
    form.postCreateForm(method="post", action=action)
      ul
        li
          input#title(name="title", value=title, placeholder="Title")
        li
          textarea#body(name="body", placeholder="Your article")= body
      input#img.inputImg(type="file",name="img",multiple)
      label(for="img", title="add image")
        i.fa.fa-file-image-o(aria-hidden="true")
      input#save.savePost(type="submit",name="save")
      label(for="save", title="save post")
        i.fa.fa-floppy-o(aria-hidden="true")

