
extends ../layout.pug

block content 
  - action= post ? "/post/edit/"+post.id : "/post/create"
  - title= post ? post.title : ''
  - body= post ? post.body : ''
    form.postCreateForm(method="post", action=action)
      ul
        li
          input#title(name="title", value=title, placeholder="Title")
        li
          textarea#body(name="body", placeholder="Your article")= body
      input(type="submit", value="Save")
