doctype html
html
    head
        title
            | new_space
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(href='/css/reset.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/img/favicon.ico' rel='icon')
        script(src='/js/libs/jquery-2.2.2.min.js')
        script(src='//cdn.tinymce.com/4/tinymce.min.js')
        script(src='/configs/tinymce.js')
        script(src='/js/bundle.js')
    body
        section.header
            div.space-logo
                a(href="/").space-title new_space
            nav.space-main-nav
                ul
                    li: a(href='/')  blog
                    li: a(href='#about') about
                    li: a(href='#skills') skills
                    li: a(href='#contact') contact
            div.clearfix
        section#blog
            div.container
                a(href="/")
                    h1 Blog
                block content
        section#about
            div.container
                h1 About me
                p
        section#skills
            div.container
                h1 My skills
        section#contact
            div.container
                h1 Contact me
