extends layout.pug

block content
  form.userLoginForm(method='post', action='/login', enctype='application/x-www-form-urlencoded')
    if invalid
      .error Please enter a valid email address and password.
    ul
      li
        label(for='email') Email
        input#email(name='email')
        div.clearfix
      li
        label(for='pass') Password
        input#pass(name='pass', type='password')
        div.clearfix
    ul.userAction
      li
        button(type='submit') Log In
      li
        a(href="/")
          button.userCancel(type='button') Cancel

